# The Pandemic's Effect on Music: Exploration

Authors: Natnael Mekonnen, Sonya Lew, and Daniel Park

## Introduction

Why did we choose this topic? What is the importance?
Do we anticipate to be any changes?

## 1. Data Scraping

To explore the pandemic's effect on music, we chose to compare the COVID data in the US with the top 10 list on Spotify since January 2020. The COVID data will be extracted from the Atlantic's [The COVID Tracking Project](https://covidtracking.com/data/national) which has been constantly updating the data everyday with representatives from 50 states, 5 territories, and District of Colombia. On the other hand, the Spotify top 10 will be extracted from the [Spotify Charts](https://spotifycharts.com/) on a weekly starting from January 2020. The charts does not have a detail information on the song so we will get more detail by querying the Spotify API and using a Kaggle dataset.

Import the necessary libraries:

In [1]:
import pandas as pd
import matplotlib.pyplot as pyplt
import numpy as np
import seaborn

## 1.1 Load and View COVID data

In [2]:
covid_data = pd.read_csv('national-history.csv')
covid_data.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
0,2020-12-07,274745.0,1347,32120.0,20098.0,3614,102148.0,589486.0,163378726,1386381,3328.0,7073.0,14717065,180193,5714557.0,56,205934174,1835388
1,2020-12-06,273398.0,1146,31946.0,20145.0,2311,101501.0,585872.0,161992345,1175503,3322.0,7095.0,14536872,177801,5624609.0,56,204098786,1648306
2,2020-12-05,272252.0,2461,31831.0,19947.0,3457,101192.0,583561.0,160816842,1530133,3321.0,7006.0,14359071,212880,5576152.0,56,202450480,2190899
3,2020-12-04,269791.0,2563,31608.0,19858.0,4652,101276.0,580104.0,159286709,1260657,3305.0,6999.0,14146191,224831,5470389.0,56,200259581,1854869
4,2020-12-03,267228.0,2706,31276.0,19723.0,5331,100755.0,575452.0,158026052,1238465,3280.0,6867.0,13921360,210204,5404018.0,56,198404712,1828230

The COVID data is detailed but since this project is finding its relationship with music, most of the unnecessary columns will be dropped.

In [3]:
covid_data = covid_data.drop(['death','deathIncrease','inIcuCumulative','inIcuCurrently','hospitalizedIncrease',\
                    'hospitalizedCurrently','hospitalizedCumulative','onVentilatorCumulative','onVentilatorCurrently',\
                    'recovered','states'], axis=1)

Knowing that the Spotify data is grouped on a weekly basis starting on a Thursday, the next step is to prepare the COVID data so it is easy to merge.

In [4]:
# Creating a custom interval index for grouping the data which starts from begining of the year on a thursday and 
# continues weekly
i = pd.to_datetime('01/08/2020')
bins = []
while i < pd.to_datetime('12/12/2020'):
    temp = i + pd.Timedelta('7 days')
    bins.append((i,temp))
    i = temp
bins = pd.IntervalIndex.from_tuples(bins)

In [5]:
# Convert the date from the dataframe to a pandas date and time format to be comuted in the cutting
covid_data['date'] = pd.to_datetime(covid_data['date'])

# Using the interval index created above, create a new column week which has the week interval of the data
covid_data['week'] = pd.cut(covid_data['date'], bins)

# Now that every row has a week interval, they will be grouped with the total for each column 
grouped = covid_data.groupby(['week']).sum()

# Number the weeks to easily identify
grouped['week#'] = list(range(1,len(bins)+1))

grouped.head(10)

,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,week#
week,,,,,,,
"(2020-01-08, 2020-01-15]",0,0,0,0,0,0,1
"(2020-01-15, 2020-01-22]",0,0,0,0,1,0,2
"(2020-01-22, 2020-01-29]",0,0,0,0,19,4,3
"(2020-01-29, 2020-02-05]",0,0,0,0,70,10,4
"(2020-02-05, 2020-02-12]",0,0,0,0,128,6,5
"(2020-02-12, 2020-02-19]",0,0,0,0,191,14,6
"(2020-02-19, 2020-02-26]",0,0,0,0,271,6,7
"(2020-02-26, 2020-03-04]",2195,1397,586,279,48434,8165,8
"(2020-03-04, 2020-03-11]",39917,11176,7038,1774,94789,13707,9
"(2020-03-11, 2020-03-18]",323072,77520,48361,11332,478669,108043,10
"(2020-03-18, 2020-03-25]",1643630,305539,302657,61857,2254039,394621,11
"(2020-03-25, 2020-04-01]",5135354,593977,1082996,148798,6571681,738257,12
"(2020-04-01, 2020-04-08]",10267392,847081,2400214,208450,13064208,1073110,13
"(2020-04-08, 2020-04-15]",16224706,821668,3896732,208020,20625783,1048237,14
"(2020-04-15, 2020-04-22]",22314322,1048354,5304624,200118,28412310,1301235,15
"(2020-04-22, 2020-04-29]",31328695,1352781,6745072,203146,39170943,1591144,16
"(2020-04-29, 2020-05-06]",41712855,1579821,8098027,187503,51308925,1838817,17
"(2020-05-06, 2020-05-13]",54308578,2008787,9303580,162940,65588694,2239516,18
"(2020-05-13, 2020-05-20]",70161403,2468459,10423135,158858,83152720,2702949,19
"(2020-05-20, 2020-05-27]",88563786,2532841,11499982,147060,103166198,2832982,20

In [6]:
column_names = ['week#','positiveIncrease','negativeIncrease','positive','negative','totalTestResultsIncrease',\
            'totalTestResults']
grouped.reindex(columns=column_names)

grouped.head(10)

,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,week#
week,,,,,,,
"(2020-01-08, 2020-01-15]",0,0,0,0,0,0,1
"(2020-01-15, 2020-01-22]",0,0,0,0,1,0,2
"(2020-01-22, 2020-01-29]",0,0,0,0,19,4,3
"(2020-01-29, 2020-02-05]",0,0,0,0,70,10,4
"(2020-02-05, 2020-02-12]",0,0,0,0,128,6,5
"(2020-02-12, 2020-02-19]",0,0,0,0,191,14,6
"(2020-02-19, 2020-02-26]",0,0,0,0,271,6,7
"(2020-02-26, 2020-03-04]",2195,1397,586,279,48434,8165,8
"(2020-03-04, 2020-03-11]",39917,11176,7038,1774,94789,13707,9
"(2020-03-11, 2020-03-18]",323072,77520,48361,11332,478669,108043,10